<div class="container">
  <h1>This is my about page</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum odit
  temporibus sit tenetur sed dolorem? Minima reprehenderit autem, quae minus
  iure tenetur repudiandae distinctio eum esse magni dolorem nisi aliquam.</p>
</div>
